#root {
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  --background-color: #f9f9f9;
  --border-color: #ccc;
  --primary-color: #2d6cdf;
  --secondary-color: #DA1212;
  --font-size-h3: 24px;
  --font-size-label: 16px;
  --font-size-select: 16px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.highlight {
  color: var(--secondary-color); 
}

/* Styling starts here */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#voter-info-container {
  min-width: 500px;
  max-width: 600px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  .voter-info-title {
    font-size: var(--font-size-h3);
    color: black;
    margin-bottom: 1.5rem;
  }

  span {
    color: var(--secondary-color);
  }
}

#state-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

.state-search-button {
    height: 100%; 
    max-height: 100%;
    cursor: pointer;
    background-color: lightcoral;
    border-color: lightcoral;
    color: white;
    font-size: var(--font-size-select);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: lightcoral 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20%;

    &:hover {
      background-color: red;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }
  }


.state-select-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 20px;

  label {
    font-size: var(--font-size-label);
    color: #333;
  }

  select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    font-size: var(--font-size-select);
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.restrictions {
  margin-inline: 5rem;
}

.restriction-area {
  margin-top: 3rem; 
}

.call-to-action {
  text-align: center; 
  margin-top: 3rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3.25rem; 
}

#search {
  padding: 1rem;
  border: 1.5px solid #3477eb;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 1rem;
  width: 50%; 
}

#prompt-submit {
  padding: 1rem;
  border: 1.5px solid #3477eb;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 1rem;
  background-color: #3477eb;
  color: white;
  font-weight: 500;
}

#prompt-submit:hover {
  border: 1.5px solid #1e4b8f;
  background-color: #1e4b8f;
  cursor: pointer;          
}

.search-label {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1rem;
  text-align: center;
}